{% extends 'base.html' %}
{% load static %}
{% block title %}Data Annotation{% endblock %}

{% block content %}
<h1 class="mb-4">Projects</h1>
<div class="list-group">
    {% if projects %}
        {% for project in projects %}
            <a href="{% url 'annotation:project_images' project.id %}" class="list-group-item list-group-item-action">
                <h5 class="mb-1">{{ project.name }}</h5>
                <p class="mb-1">{{ project.description }}</p>
                <small>Created on {{ project.created_at|date:"M d, Y" }}</small>
            </a>
        {% endfor %}
    {% else %}
        <p>No Projects</p>
    {% endif %}
</div>
{% endblock %}
